name: Build Mastodot

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  Godot:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [linux, windows]
        
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true
          
      - name: Build
        id: build
        uses: manleydev/build-godot-action@v1.4.1
        with:
          name: mastodot_${{ matrix.platform }}
          preset: ${{ matrix.platform }}
          debugMode: "true"
